.head-form {
    position: absolute;
    width: 1064px;
    height: 90px;
    left: calc(50% - 1064px/2);
    top: 69px;
}

.form-search-index {
    box-sizing: border-box;
    position: absolute;
    width: 630px;
    height: 68px;
    left: calc(50% - 630px/2);
    top: 379px;
    background: #FFF;
    border: 3px solid rgb(0 0 0 / 43%);
    border-radius: 40px;
    }

.form-search-header {
    box-sizing: border-box;
    position: absolute;
    width: 629px;
    height: 68px;
    left: calc(50% - 629px/2 + 217.5px);
    top: 19px;
    background: #FFF;
    border: 3px solid rgb(0 0 0 / 43%);
    border-radius: 40px;
}

form.input-add-project {
    position: absolute;
    width: 412px;
    height: 45px;
    background: #FFF;
    border-radius: 40px;
}

form.input-add-project{
    top: 0;
    right: 0;
}


.form-btn-type {
    position: absolute;
    width: 630px;
    height: 66px;
    left: calc(50% - 630px/2);
    top: 481px;

}

.login-form {
    box-sizing: border-box;
    position: absolute;
    width: 414px;
    height: 68px;
    left: calc(50% - 414px/2);
    top: 316px;
    background: #FFF;
    border: 3px solid rgb(0 0 0 / 43%);
    border-radius: 40px;
}

.pass-form {
    box-sizing: border-box;
    position: absolute;
    width: 414px;
    height: 68px;
    left: calc(50% - 414px/2);
    top: 394px;
    background: #FFF;
    border: 3px solid rgb(0 0 0 / 43%);
    border-radius: 40px;
}

div.title {
    position: absolute;
    width: 1064px;
    height: 48px;
    left: calc(50% - 1064px/2);
    top: 326px;

}

div.string {
    position: absolute;
    width: 1064px;
    height: 48px;
    left: calc(50% - 1064px/2);
    top: 384px;
    background: #FFFEFB;
}

div.nimi {
    position: absolute;
    height: 48px;
    left: 0%;
    right: 70.96%;
    top: calc(50% - 48px/2);
    display: flex;
    align-items: center;


}

div.group {
    position: absolute;
    height: 48px;
    width: 109px;
    left: calc(50% - 109px/2 - 152.5px);
    top: calc(50% - 48px/2);
    display: flex;
    align-items: center;


}

div.project {
    position: absolute;
    height: 48px;
    width: 358px;
    left: calc(50% - 358px/2 + 130px);
    top: calc(50% - 48px/2);
    display: flex;
    align-items: center;


}

div.type {
    position: absolute;
    height: 48px;
    width: 187px;
    left: calc(50% - 187px/2 + 428.5px);
    top: calc(50% - 48px/2);
    display: flex;
    align-items: center;

}

div.box {
    position: absolute;
    width: 5px;
    left: calc(50% - 5px/2 + 529.5px);
    top: 0%;
    bottom: 0%;
background: #F05A21;
}

div.add-project-form {
    position: absolute;
    width: 629px;
    height: 45px;
    left: 0;
    display: flex;
    align-items: center;
}

div.add-project-form.name {
    top: 0;
}

div.add-project-form.group {
    top: 56px;
}

div.add-project-form.project {
    top: 110px;
}

div.add-project-form.type {
    top: 165px;
}

div.add-project-form.year {
    top: 220px;
}

div.add-project-background {
    position: absolute;
    width: 1064px;
    height: 265px;
    left: calc(50% - 1068px/2 + 2px);
    top: 356px;

}

form.icon-plus-form{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 10px;
    top: 6px;
    border-color: #F05A21;
}

div.delete-form {
    position: absolute;
    width: 1064px;
    height: 185px;
    left: calc(50% - 1064px/2);
    top: 341px;


}

div.text-form {
    position: absolute;
    width: 414px;
    height: 24px;
    left: 0;
    top: 0;
}

div.confirm-pass-form {
    box-sizing: border-box;
    position: absolute;
    width: 414px;
    height: 68px;
    left: calc(50% - 414px/2 - 325px);
    top: 45px;
    background: #FFF;
    border: 3px solid rgb(0 0 0 / 43%);
    border-radius: 40px;
}

div.content-form {
    position: absolute;
    width: 150px;
    height: 185px;
    left: 914px;
    top: 0;
    background-color: #F05A21;
}