/* Шрифт по умолчанию */
@font-face {
    font-family: Verdana; /* Имя шрифта */
    src: url("../fonts/Verdana.ttf") format("truetype");     /* адрес шрифта и тип */
    font-style: normal; 
    font-weight: 400; 
    }

.admin {
    background-color: #F8F4F4;
}

.logo-index {
    position: absolute;
    width: 414px;
    height: 122px;
    left: calc(50% - 414px/2);
    top: 66px;
    background: url("img/logo.png");
}

.logo-header {
    position: absolute;
    width: 305px;
    height: 90px;
    left: calc(50% - 305px/2 - 390.5px);
    top: 0;

}

h1.index {
    position: absolute;
    width: 414px;
    height: 60px;
    left: calc(50% - 414px/2);
    top: 290px;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.145em;
    text-transform: uppercase;
    color: #1C8550;

    }

h1.header {
    position: absolute;
    width: 1068px;
    height: 71px;
    left: calc(50% - 1068px/2 + 2px);
    top: 247px;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.145em;
    text-align: left;
    color: #1D8650;
}

input.search {
    padding: 0;
    text-align:left;  
    position: absolute;
    width: 393px;
    height: 22px;
    left: 32px;
    top: 21px;
    bottom: 25px;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: black;
    border: none;
    }

input.login-pass {
    padding: 0;
    text-align:left;  
    position: absolute;
    width: 360px;
    height: 22px;
    right: 24px;
    bottom: 19px;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: black;
    border: none;
}

input.add-project {
    position: absolute;
    width: 376px;
    height: 21px;
    left: 18px;
    bottom: 11px;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: black;
    border: none;

}

input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

::placeholder {
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #D8D8D8;
    }

h2.title {
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.145em;
    text-indent: 12px;
    color: #919191;

}

h3.result {
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-indent: 12px;
    color: #343434;
    }

h2.column {
    width: 204px;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #343434;
}

h2.text {
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 0%;
    color: #F15A22;
}