/* Шрифт по умолчанию */
@font-face {
    font-family: Verdana; /* Имя шрифта */
    src: url("../fonts/Verdana.ttf") format("truetype");     /* адрес шрифта и тип */
    font-style: normal; 
    font-weight: 400; 
    }
.admin {
    background-color: #F8F4F4;
}
.logo-index {
    position: absolute;
    width: 414px;
    height: 122px;
    left: calc(50% - 414px/2);
    top: 66px;
    background: url("img/logo.png");
}

h1.head {
    position: absolute;
    width: 414px;
    height: 60px;
    left: calc(50% - 414px/2);
    top: 290px;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.145em;
    text-transform: uppercase;
    color: #1C8550;

    }

.border-index {
    box-sizing: border-box;
    position: absolute;
    width: 630px;
    height: 68px;
    left: calc(50% - 630px/2);
    top: 379px;
    background: #FFF;
    border: 3px solid rgb(0 0 0 / 43%);
    border-radius: 40px;
    }

input.search {
    padding: 0;
    text-align:left;  
    position: absolute;
    width: 393px;
    height: 22px;
    left: 32px;
    top: 21px;
    bottom: 25px;

    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: black;

    border: none;
    }

::placeholder {
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: 18px;
    line-height: 22px;
    color: #D8D8D8;
    }

    
.input-login {
    padding: 0;
    text-align:left;  
    position: absolute;
    width: 360px;
    height: 22px;
    right: 24px;
    bottom: 19px;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: black;
    border: none;

}
.login-form {
    box-sizing: border-box;

    position: absolute;
    width: 414px;
    height: 68px;
    left: calc(50% - 414px/2);
    top: 316px;

    background: #FFFFFF;
    border: 3px solid rgba(0, 0, 0, 0.43);
    border-radius: 40px;
}

.pass-form {
    box-sizing: border-box;

position: absolute;
width: 414px;
height: 68px;
left: calc(50% - 414px/2);
top: 394px;

background: #FFFFFF;
border: 3px solid rgba(0, 0, 0, 0.43);
border-radius: 40px;
}
