{% extends "headerAdmin.html" %}
{% block content %} 
    <h1 class="header">Uus lõputööde pealkiri</h1>

    <div class="add-project-background">
      <div class="add-project-form name">
          <h2 class="column">Eesnimi Perekonanimi</h2>
          <form class="input-add-project">
              <input class="add-project" type="text" id="input-name" name="name">
          </form>
      </div>

      <div class="add-project-form group">
        <h2 class="column">Grupp</h2>
        <form class="input-add-project">
          <input class="add-project" type="text" id="input-group" name="group">
        </form>
      </div>

      <div class="add-project-form project">
        <h2 class="column">Lõpotööd Nimi</h2>
        <form class="input-add-project">
          <input class="add-project" type="text" id="input-project" name="project">
        </form>
      </div>

      <div class="add-project-form type">
        <h2 class="column">Tüüp</h2>
        <form class="input-add-project">
          <input class="add-project" type="text" id="input-type" name="type">
        </form>
      </div>

      <div class="add-project-form year">
        <h2 class="column">Aastad</h2>
        <form class="input-add-project">
          <input class="add-project" type="text" id="input-year" name="year">
        </form>
      </div>

      <button class="add-project-file btn1" type="button" onclick="alert('Choose file')"></button>
      <button class="add-project-file btn2" type="button" onclick="alert('Choose file')"></button>

      <button class="save-project" type="button" onclick="alert('Project Save')">Add project</button>
      <button class="save-project-and-create-new" type="button" onclick="alert('Project saved, and new created')">Add and create new</button>
      
  </div>
{% endblock %}