{% extends "headerAdmin.html" %}
{% block content %} 
    <h1 class="header">Delete project</h1>

    <div class="delete-form">
        <div class="text-form">
            <h2 class="text">Input password to confirm</h2>
        </div>

        <div class="confirm-pass-form">
            <input class="login-pass" type="password" id="password" name="pass"
            placeholder="Password">
        </div>

        <button class="delete-project" type="button" onclick="alert('Project deleted')">Delete</button>

        <div class="nimi project-page"><h2 class="project-page"><a href="{{server}}/result?message={{result.name}}">{{result.name}}</a></h2></div>
        <div class="year project-page"><h3 class="project-page"><a href="{{server}}/result?message={{result.year}}">{{result.year}}</a>  ·  <a href="{{server}}/result?message={{result.group}}">{{result.group}}</a></h3></div>
        <div class="project project-page"><h1 class="project-page"><a>{{result.project}}</a></h1></div>
        <div class="type project-page"><h4 class="project-page"><a href="{{server}}/result?message={{result.typeproject}}">{{result.typeproject}}</a></h4></div>

        <div class="content-form">
            
        </div>

    </div>
{% endblock %}