<!DOCTYPE html>
<html>
  <head lang="et">
    <meta charset="utf-8">
    <title>Login</title>
    <link href="scss/style.css" rel="stylesheet" type="text/css">
    <link href="fonts/icomoon/style.css" rel="stylesheet" type="text/css">
    <link href="scss/btn.css" rel="stylesheet" type="text/css">
    <link href="scss/form.css" rel="stylesheet" type="text/css">
  </head>
  <body class="admin">
    <header class="head-form">
        <img class="logo-header" src="img/logo.png" alt="logo">

      <form class="form-search-header">
        <div>
          <input class="search" type="text" id="input" name="message"
                  placeholder="õpilase nimi / rühm / lõputööde pealkiri">
        </div>
          
          <button class="drop-btn"><i class="icon-angle-down"></i>proectid</button>
          <button class="search-btn"><i class="icon-search"></i></button>
      </form>
    </header>  
  </body>

</html>