<!DOCTYPE html>
<html>
  <head lang="et">
    <meta charset="utf-8">
    <title>{{title}}</title>

    <link href="/static/scss/style.css" rel="stylesheet" type="text/css">
    <link href="/static/fonts/icomoon/style.css" rel="stylesheet" type="text/css">
    <link href="/static/scss/btn.css" rel="stylesheet" type="text/css">
    <link href="/static/scss/form.css" rel="stylesheet" type="text/css">

    <link rel="import" href="header.html">
  </head>
  <body>
    <header class="head-form">
      <a href="/home"><img class="logo-header" src="../static/img/logo.png" alt="logo"></a>

      <form class="form-search-header" action="/result" id="search">
          <div>
              <input class="search" type="text" id="input" name="message"
                  placeholder="õpilase nimi / rühm / lõputööde pealkiri">
          </div>
          <div>
            <select class="drop-btn" name="key" form="search">
                <option>kõik</option>
                <option value="name">nimid</option>
                <option value="group_">rühmad</option>
                <option value="project_name">projektid</option>
                <option value="year">aastad</option>
                <option value="type_">tüüp</option>
                <option value="top">paremik</option>
            </select>
        </div>

          <button class="search"><i class="icon-search"></i></button>
      </form>
    </header>
    {% block content %}{% endblock %}
  </body>
  </html>


