<!DOCTYPE html>
<html>
  <head lang="et"> <!-- Estonian language -->
    <meta charset="utf-8">
    <title>{{title}}</title>

      <!-- Import CSS styles -->
    <link href="/static/scss/style.css" rel="stylesheet" type="text/css">
    <link href="/static/fonts/icomoon/style.css" rel="stylesheet" type="text/css">
    <link href="/static/scss/btn.css" rel="stylesheet" type="text/css">
    <link href="/static/scss/form.css" rel="stylesheet" type="text/css">

    <link rel="import" href="header.html">
  </head>
  <body>
    <header class="head-form">
      <a href="/home"><img class="logo-header" src="../static/img/logo.png" alt="logo"></a>

        <!-- Start text input field -->
      <form class="form-search-header" action="/result" id="search">
          <div>
              <input class="search" type="text" id="input" name="message"
                  placeholder="õpilase nimi / rühm / lõputööde pealkiri">
          </div>
          <div>

            <select class="drop-btn" name="key" form="search">
                <option value="all">kõik</option>
                <option value="name">nimid</option>
                <option value="group_">rühmad</option>
                <option value="project_name">projektid</option>
                <option value="year_">aastad</option>
                <option value="type_">tüüp</option>
                <option value="top">paremik</option>
            </select>
        </div>
            <!-- Search button for input field -->
          <button class="search"><img src="static/img/search-icon.png"></img></button>
      </form> <!-- End text input field -->

    </header>
    {% block content %}{% endblock %}
  </body>
  </html>


