<!DOCTYPE html>
<html>
  <head lang="et">
    <meta charset="utf-8">
    <title>Multimedia projects</title>
    <link href="/static/scss/style.css" rel="stylesheet" type="text/css">
    <link href="/static/fonts/icomoon/style.css" rel="stylesheet" type="text/css">
    <link href="/static/scss/btn.css" rel="stylesheet" type="text/css">
    <link href="/static/scss/form.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <img class="logo-index" src="../static/img/logo.png" alt="logo">
      <h1 class="index">Multimeedia lõputööd</h1>
    </header>


    <form class="form-search-index" action="/result" id="search">

      <div>
        <input class="search" type="text" id="input" name="message"
                placeholder="õpilase nimi / rühm / lõputööde pealkiri">
      </div>
        
      <div>
        <select class="drop-btn" name="key" form="search"><i class="icon-angle-down"></i>
          <option>kõik</option>
          <option>project</option>
          <option>name</option>
          <option>group</option>
        </select>
    </div>
        <button class="search"><i class="icon-search"></i></button>
    </form>  
    
    <div class="form-btn-type">
      <div class="btn-index-type btn1-index"><p class="projecttype"><a class="typeproject" href="{{server}}/result?message=Animatsioon&key=typeproject">Animatsioon</a></p></div>
      <div class="btn-index-type btn2-index"><p class="projecttype"><a class="typeproject" href="{{server}}/result?message=Helindamine&key=typeproject">Helindamine</a></p></div>
      <div class="btn-index-type btn3-index"><p class="projecttype"><a class="typeproject" href="{{server}}/result?message=Graafika&key=typeproject">Graafika</a></p></div>
      <div class="btn-index-type btn4-index"><p class="projecttype"><a class="typeproject" href="{{server}}/result?message=3D Graafika&key=typeproject">3D Graafika</a></p></div>
      <div class="btn-index-type btn5-index"><p class="projecttype"><a class="typeproject" href="{{server}}/result?message=Video&key=typeproject">Video</a></p></div>
      <div class="btn-index-type btn6-index"><p class="projecttype"><a class="typeproject" href="{{server}}/result?message=Veebiarendus&key=typeproject">Veebiarendus</a></p></div>
      <div class="btn-index-type btn7-index"><p class="projecttype"><a class="typeproject" href="{{server}}/result?message=Fototööd&key=typeproject">Fototööde</a></p></div>
      

    </div>
  </body>

</html>