<!DOCTYPE html>
<html>
  <head lang="et"> <!-- Estonian language -->
    <meta charset="utf-8">
    <title>Multimedia projects</title>

      <!-- Import CSS styles -->
    <link href="/static/scss/style.css" rel="stylesheet" type="text/css">
    <link href="/static/fonts/icomoon/style.css" rel="stylesheet" type="text/css">
    <link href="/static/scss/btn.css" rel="stylesheet" type="text/css">
    <link href="/static/scss/form.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <img class="logo-index" src="../static/img/logo.png" alt="logo">
      <h1 class="index">Multimeedia lõputööd</h1>

    </header>

    <!-- Start text input field -->
    <form class="form-search-index" action="/result" id="search">

      <div>
        <input class="search" type="text" id="input" name="message"
                placeholder="õpilase nimi / rühm / lõputööde pealkiri">
      </div>
        
      <div>
        <select class="drop-btn" name="key" form="search">
          <option value="all">kõik</option>
          <option value="name">nimid</option>
          <option value="group_">rühmad</option>
          <option value="project_name">projektid</option>
          <option value="year_">aastad</option>
          <option value="top">paremik</option>
        </select>
    </div>
            <!-- Search button for input field -->
        <button class="search"><img src="static/img/search-icon.png"></img></button>
    </form>  <!-- End text input field -->

    <!-- Buttons list with all projects type -->
    <div class="form-btn-type">
      <div class="btn-index-type btn1-index"><p class="projecttype"><a class="typeproject" href="{{server}}/result?message=Animatsioon&key=type_">Animatsioon</a></p></div>
      <div class="btn-index-type btn2-index"><p class="projecttype"><a class="typeproject" href="{{server}}/result?message=Helindamine&key=type_">Helindamine</a></p></div>
      <div class="btn-index-type btn3-index"><p class="projecttype"><a class="typeproject" href="{{server}}/result?message=Graafika&key=type_">Graafika</a></p></div>
      <div class="btn-index-type btn4-index"><p class="projecttype"><a class="typeproject" href="{{server}}/result?message=3D Graafika&key=type_">3D Graafika</a></p></div>
      <div class="btn-index-type btn5-index"><p class="projecttype"><a class="typeproject" href="{{server}}/result?message=Video&key=type_">Video</a></p></div>
      <div class="btn-index-type btn6-index"><p class="projecttype"><a class="typeproject" href="{{server}}/result?message=Veebiarendus&key=type_">Veebiarendus</a></p></div>
      <div class="btn-index-type btn7-index"><p class="projecttype"><a class="typeproject" href="{{server}}/result?message=Fototööd&key=type_">Fototööde</a></p></div>
    </div>
  </body>

</html>