<!DOCTYPE html>
<html>
  <head lang="et">
    <meta charset="utf-8">
    <title>NKMM</title>
    <link href="/static/scss/style.css" rel="stylesheet" type="text/css">
    <link href="/static/fonts/icomoon/style.css" rel="stylesheet" type="text/css">
    <link href="/static/scss/btn.css" rel="stylesheet" type="text/css">
    <link href="/static/scss/form.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <img class="logo-index" src="/static/img/logo.png" alt="logo">
      <h1 class="index">Multimeedia lõpotööd</h1>
    </header>


    <form class="form-search-index" action="/result">

      <div>
        <input class="search" type="text" id="input" name="message"
                placeholder="õpilase nimi / rühm / lõputööde pealkiri">
      </div>
        
        <button class="drop-btn"><i class="icon-angle-down"></i> proectid</button>
        <button class="search-btn"><i class="icon-search"></i></button>
    </form>  
    
    <form class="form-btn-type">
      <button class="btn-index-type btn1-index">Animatsioon</button>
      <button class="btn-index-type btn2-index" type="button" onclick="alert('Helindamine')">Helindamine</button>
      <button class="btn-index-type btn3-index" type="button" onclick="alert('Graafika')">Graafika</button>
      <button class="btn-index-type btn4-index" type="button" onclick="alert('3D Graafika')">3D Graafika</button>
      <button class="btn-index-type btn5-index" type="button" onclick="alert('Video')">Video</button>
      <button class="btn-index-type btn6-index" type="button" onclick="alert('Veebiarendus')">Veebiarendus</button>
      <button class="btn-index-type btn7-index" type="button" onclick="alert('Foto tööde')">Foto tööde</button>
    </form>
  </body>

</html>