<!DOCTYPE html>
<html>
  <head lang="et">
    <meta charset="utf-8">
    <title>Admin mode</title>
    <link href="scss/style.css" rel="stylesheet" type="text/css">
    <link href="fonts/icomoon/style.css" rel="stylesheet" type="text/css">
    <link href="scss/btn.css" rel="stylesheet" type="text/css">
    <link href="scss/form.css" rel="stylesheet" type="text/css">
  </head>
  <body class="admin">
    <header>
      <img class="logo-index" src="img/logo.png" alt="logo">
      <h1 class="index">Multimeedia lõpotööd</h1>
    </header>
    <form class="form-search-index">
      <div>
        <input class="search" type="text" id="input" name="message"
                placeholder="õpilase nimi / rühm / lõputööde pealkiri">
      </div>
        
        <button class="drop-btn"><i class="icon-angle-down"></i>proectid</button>
        <button class="search-btn"><i class="icon-search"></i></button>
    </form>  
    
    <form class="form-btn-type">
      <button class="btn-index-type btn1-index" type="button" onclick="alert('Animatsioon')">Animatsioon</button>
      <button class="btn-index-type btn2-index" type="button" onclick="alert('Helindamine')">Helindamine</button>
      <button class="btn-index-type btn3-index" type="button" onclick="alert('Graafika')">Graafika</button>
      <button class="btn-index-type btn4-index" type="button" onclick="alert('3D Graafika')">3D Graafika</button>
      <button class="btn-index-type btn5-index" type="button" onclick="alert('Video')">Video</button>
      <button class="btn-index-type btn6-index" type="button" onclick="alert('Veebiarendus')">Veebiarendus</button>
      <button class="btn-index-type btn7-index" type="button" onclick="alert('Foto tööde')">Foto tööde</button>
    </form>

    <button class="add-btn add-btn-index" type="button" onclick="alert('Add lõputööde')">Add lõputööde</button>


  </body>

</html>