{% extends "header.html" %} <!-- Import header.html -->

{% block content %} <!-- Page content-->
    <h1 class="header">Page Not Found 404</h1>
    <div class="title"><h2 class="title">Что-то пошло не так и мы не смогли найти ваш запрос. Попробуйте ещё раз и проверьте правильность данных</h2></div>
{% endblock %}