/* Шрифт по умолчанию */
@import url("variable.css");

button{
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: var(--font-weight-primary);
}

/* Select style */
drop-btn {
    position: absolute;
    width: 116px;
    height: 47px;
    left: 436px;
    top: 7px;
    font-size: var(--font-size-second);
    line-height: 22px;
    text-align: right;

    /* Text */
    color: #919191;
    background-color: var(--background-form-user);
    border: none;
}

/* Button for input field */
button.search {
    position: absolute;
    width: 48px;
    height: 48px;
    right:7px;
    top: 7px;
    color: var(--background-form-user);
    font-size: var(--font-size-primary);
    line-height: 22px;
    border-radius: 50%;
    border: none;
    background: var(--color-primary-first);
}

button.search:hover {
    background: var(--color-button-hover-first);
}

/* Type project buttons. Index page */
div.btn-index-type {
    box-sizing: border-box;
    position: absolute;
    width: 110px;
    height: 28px;
    font-size: 13px;
    line-height: 17px;
    border: 1px solid var(--color-button-typeproject);
    border-radius: 40px;
    background: none;
    display: flex;
}

div.btn-index-type:hover {
    background-color: var(--color-button-typeproject);
}

div.btn1-index {
    left: calc(50% - 110px/2 - 241px);
    top: 0;
}

div.btn2-index {
    left: calc(50% - 110px/2 - 121px);
    top: 0;
}

div.btn3-index {
    left: calc(50% - 110px/2);
    top: 0;
}

div.btn4-index {
    left: calc(50% - 110px/2 + 120px);
    top: 0;
}

div.btn5-index {
    left: calc(50% - 110px/2 + 240px);
    top: 0;
}

div.btn6-index {
    left: calc(50% - 110px/2 - 60px);
    top: 38px;
}

div.btn7-index {
    left: calc(50% - 110px/2 + 60px);
    top: 38px;
}