@import url("variable.css");

.head-form {
    position: absolute;
    width: 1064px;
    height: 90px;
    left: calc(50% - 1064px/2);
    top: 69px;
}

/* Input field for Home page */
.form-search-index {
    box-sizing: border-box;
    position: absolute;
    width: 630px;
    height: 68px;
    left: calc(50% - 630px/2);
    top: 379px;
    border: var(--color-border-grey);
    border-radius: var(--border-radius-primary);
}

/* Input field for header */
.form-search-header {
    box-sizing: border-box;
    position: absolute;
    width: 629px;
    height: 68px;
    left: calc(50% - 629px/2 + 217.5px);
    top: 19px;
    background: var(--background-form-user);
    border: var(--color-border-grey);
    border-radius: var(--border-radius-primary);
}

/* Type project buttons container */
.form-btn-type {
    position: absolute;
    width: 630px;
    height: 66px;
    left: calc(50% - 630px/2);
    top: 481px;
}

/* List title container. Result page */
div.title {
    position: absolute;
    width: 1064px;
    height: 48px;
    left: calc(50% - 1064px/2);
    top: 326px;
}

/* Result string container. Result Page */
div.string {
    position: relative;
    width: 1064px;
    height: 48px;
    left: calc(50% - 1064px/2);
    top: 384px;
    margin-bottom: 10px;
    background: #FFFEFB;
}

/* Student name container. Result page */
div.nimi {
    position: absolute;
    height: 48px;
    left: 12px;
    top: 0;
    display: flex;
    align-items: center;
}

/* Student group and year container. Result page */
div.group {
    position: absolute;
    height: 48px;
    width: 172px;
    left: 304px;
    top: calc(50% - 48px/2);
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Project name container. Result page */
div.project {
    position: absolute;
    height: 48px;
    width: 358px;
    left: calc(50% - 360px/2 + 168px);
    top: calc(50% - 48px/2);
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Type project container. Result page */
div.type {
    position: absolute;
    height: 48px;
    width: 187px;
    left: calc(50% - 144px/2 + 451px);
    top: calc(50% - 48px/2);
    display: flex;
    align-items: center;
}

/* Decor container. Result page */
div.box {
    position: absolute;
    width: 5px;
    left: calc(50% - 5px/2 + 529.5px);
    top: 0%;
    bottom: 0%;
background: var(--color-primary-first);
}

/* Media files container */
div.content-form {
    position: absolute;
    width: 150px;
    height: 185px;
    left: 914px;
    top: 0;
}

div.content-form.project-page {
    position: absolute;
    width: 256px;
    height: 256px;
    border: 0.5px;
    border-style: solid;
    border-color: #919191;
    left: 0;
    top: 0;
}

div.second-content {
    position: absolute;
    width: 258px;
    height: auto;
    left: 0;
    top: 268px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

div.project-form {
    position: absolute;
    width: 1064px;
    height: 316px;
    left: calc(50% - 1064px/2);
    top: 283px;
}

/* Student name container. Project page */
div.nimi.project-page {
    position: absolute;
    width: 336px;
    height: 27px;
    left: calc(50% - 336px/2 - 39px);
    top: 0;
    font-size: var(--font-size-primary);
    text-align: left;
    color: var(--color-text);
}

/* Group and year container. Project page */
div.year.project-page {
    position: absolute;
    width: 246px;
    height: 23px;
    left: calc(50% - 246px/2 - 84px);
    top: 43px;
    text-align: left;
    color: var(--color-text);
}

/* Project name container. Project page */
div.project.project-page {
    position: absolute;
    width: 736px;
    height: 50px;
    left: calc(50% - 530px/2 + 58px);
    top: 96px;
    font-size: 32px;
    text-align: left;
    color: var(--color-text);
    border: none;
    white-space: normal;
    overflow: initial;
    text-overflow: clip;
}

/* Type project container. Project page */
div.type.project-page {
    position: relative;
    width: 246px;
    height: 29px;
    left: calc(50% - 246px/2 - 84px);
    top: 146px;
    font-size: var(--font-size-second);
    text-align: left;
    color: var(--color-text);
    margin-top: 10px;
}