@import url("variable.css");

.logo-index {
    position: absolute;
    width: 414px;
    height: 122px;
    left: calc(50% - 414px/2);
    top: 66px;
}

.logo-header {
    position: absolute;
    width: 305px;
    height: 90px;
    left: calc(50% - 305px/2 - 390.5px);
    top: 0;
}

/* Font style */
h1, h2, h3, h4, p, input {
    font-family: var(--font-primary);
    font-style: var(--font-style-primary);
    font-weight: var(--font-weight-primary);
    color: var(--color-text);
}

h1.index {
    position: absolute;
    width: 414px;
    height: 60px;
    left: calc(50% - 414px/2);
    top: 290px;
    font-size: var(--font-size-primary);
    line-height: 29px;
    text-align: center;
    letter-spacing: var(--letter-spacing-primary);
    text-transform: uppercase;
    color: var(--color-primary-second);
}

h1.header {
    position: absolute;
    width: 1068px;
    height: 71px;
    left: calc(50% - 1068px/2 + 2px);
    top: 247px;
    line-height: 29px;
    font-size: var(--font-size-primary);
    letter-spacing: var(--letter-spacing-primary);
    color: var(--color-primary-second);
    text-align: left;
}

h2.title {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: var(--letter-spacing-primary);
    color: #919191;
}

h1.project-page {
    font-size: 32px;
    color: var(--color-text);
}

h2.project-page {
    font-size: var(--font-size-primary);
}

h3.project-page {
    font-size: var(--font-size-second);
    margin-top: 0;
}

h4.project-page {
    font-size: var(--font-size-second);
}

h3.result {
    font-size: var(--font-size-second);
    line-height: 22px;
}

h2.column {
    width: 204px;
    font-size: var(--font-size-second);
    line-height: 22px;
    text-align: right;
}

h2.text {
    font-size: var(--font-size-second);
    line-height: 22px;
    text-align: center;
    margin-top: 0%;
    color: var(--color-primary-first);
}

p.projecttype {
    margin: auto;
    font-size: var(--font-size-btn);
}

a {
    color: var(--color-text);
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: var(--color-text);
}

a:visited {
    color: var(--color-text);
    background-color: transparent;
    text-decoration: none;
}

a:focus, a:hover {
    border-bottom: 1px solid;
    border-color: var(--color-border-grey);
}

a.typeproject:focus, a.typeproject:hover {
    border-bottom: 0 solid;
}

a:active {
    color: var(--color-primary-first);
}

a.index, a.content {
    border-bottom: 0 solid;
}


/* Input syle */
input.search {
    padding: 0;
    text-align:left;  
    position: absolute;
    width: 393px;
    height: 22px;
    left: 32px;
    top: 21px;
    bottom: 25px;
    font-size: var(--font-size-second);
    line-height: 22px;
    color: var(--color-text-input);
    border: none;
}

input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

::placeholder {
    font-family: var(--font-primary);
    font-style: var(--font-style-primary);
    font-weight: var(--font-weight-primary);
    font-size: var(--font-size-second);
    line-height: 22px;
    color: #D8D8D8;
}

.primary{
    height: 256px;
    width: 256px;
    cursor: pointer;
}

.second {
    position: relative;
    margin-top: 0;
    left: 0;
    height: 48px;
    width: 48px;
    object-fit:cover;
    border: 0.5px solid #919191;
    margin-right: 10px;
    display: inline-block;
}

select {
    position: relative;
    width: 116px;
    height: 47px;
    left: 436px;
    top: 7px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: var(--font-weight-primary);
    font-size: var(--font-size-second);
    line-height: 22px;
    text-align: right;
    background-color: var(--background-form-user) !important;
    border: none !important;

    /* Text */
    color: #919191;
}

.custom-select select {
    display: none; /* hide original SELECT element: */
}

.select-selected {
    background-color: white;
    border: none;
}

img.primary-content {
    object-fit:cover;
    height: 256px;
    width: 256px;
}

img.second-content {
    height: 48px;
    width: 48px;
    object-fit:cover;
}

img.notloadp::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

img.notloadp::after {
    content: url("../img/multimedia-green_tp.png");
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

img.notloads::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100% ;
    background-color:#fff;
}

img.notloads::after {
    content: url("../img/multimedia-48.png");
    display: block;
    position: absolute;
    top: 0%
}